.header {
  padding-block: 30px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 999;
  top: 0;
}

/* .header__container,
.hero__container, .companies__container {
  max-width: 1170px;
  margin-inline: auto;
} */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logoipsum {
  width: 200px;
  cursor: pointer;
}

/* LIST */

.header__list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.header__list-link {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0, 47;
  color: var(--gray);
  transition: color 0.3;
  cursor: pointer;
}

.header__list-link:hover {
  color: var(--dark);
}

.header__list-link.active {
  color: var(--dark);
  border-bottom: 2px solid var(--purple);
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

/* BUTTON */

.header__button,
.hero__button {
  font-weight: 700px;
  font-size: 18px;
  letter-spacing: 0.53;
  color: white;
  padding: 19px 59px;
  border-radius: 10px;
  transition: opacity 0.5s ease;
}

.header__button {
  background-color: var(--orange);
}

.header__button:hover,
.hero__button:hover {
  opacity: 90%;
}
